:host {
  display: grid;
  place-items: center;
}

header {
  width: 100vw;
  height: 225px;
  color: white;
  background-image: url('https://images.unsplash.com/photo-1586042091284-bd35c8c1d917?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1,
h2 {
  margin-top: 0;
  margin-bottom: 0.1em;
  text-align: center;
}

@media only screen and (max-width: 320px) {
  header {
    height: 260px;
  }
}
