button {
  padding: 0.5em 1em;
  margin: 0 0.4em 1em;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px hsla(0, 0%, 0%, 0.2);
  color: ghostwhite;
  transition: all 300ms;
  font-family: inherit;
  font-size: 1em;
}

button:hover {
  box-shadow: none;
}

button:active {
  box-shadow: 1px 1px 0px 2px hsla(115, 58%, 25%, 0.2);
}

.start {
  background-color: var(--colour-green);
}

.pause {
  background-color: var(--colour-pink);
}

.reset {
  background-color: var(--colour-olive);
}

.fas {
  margin-left: 0.5em;
  font-size: 0.75em;
}